@import "../../scss/base/variables.scss";
.short-url-container{
    width: 85%;
    background-color: $color-font2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 15px 0px;
    border-radius: 5px;

    .short-url-copy{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
    }
}