.shorten__form{
    display: flex;
    flex-direction: column;
    .shorten__form-container{
        display: flex;
        justify-content: space-evenly;
        column-gap: 10px;
        font-size: 0.9em;
        .shorten__input{
            width: 80%;
            padding: 15px;
            border-radius: 5px;
            border: none;
            &:focus{
                outline: none;
            }
        }
    }
    
}

.warning{
    border: 2px solid hsl(0, 87%, 67%) !important;
    &::placeholder{
        color: hsl(0, 100%, 79%);    
    }
}
.warning-message{
    margin-top: 10px;
    margin-left: 5px;
    width: 100%;
    color: hsl(0, 87%, 67%);
    font-size: 0.8em;
}